@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #000000;
  --desktop-sidebar: #ffffff;
  --featured: #f3f4f6;
  --title: #0a2342;
  --text: #1f2937;
  --pagination-button: #e0e2e5;
  --primary-color: #ce9c81;
  --hover-color: #e49970;
  --primary-bgColor: #0a2342;
  --login: #f3f4f6;
}
.dark {
  --white: #000000;
  --black: #ffffff;
  --desktop-sidebar: #262626;
  --featured: #262626;
  --title: #ffffff;
  --text: #d1d5db;
  --pagination-button: #1b2634;
  --primary-color: #ce9c81;
  --hover-color: #e49970;
  --primary-bgColor: #0a2342;
  --login: #171717;
}

.logo-invert {
  transition: filter 0.3s ease;
}

.dark .logo-invert {
  filter: invert(1) brightness(1.2);
}
.card-shadow {
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.08);
}

.dark .card-shadow {
  box-shadow:
    0 4px 14px rgba(0, 0, 0, 0.45),
    0 2px 6px rgba(0, 0, 0, 0.35);
}

.backface-hidden {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}
.writing-vertical {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.writing-vertical2 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  line-height: 2.5;
  text-align: center;
}

@keyframes spinBorder {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.before\:bg-gradient-conic::before {
  background: conic-gradient(from 0deg, #4e6cba);
}

.before\:animate-spin-border::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  animation: spinBorder 3s linear infinite;
}

.react-quill-editor {
  height: 300px; /* or whatever you prefer */
  display: flex;
  flex-direction: column;
}

.react-quill-editor .ql-toolbar {
  flex-shrink: 0;
}

.react-quill-editor .ql-container {
  flex: 1;
  overflow-y: auto;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.blog-content {
  margin: 0 auto;
  padding: 2rem 1rem;
  line-height: 1.5;
  font-size: 1rem;
}

.blog-content h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.blog-content h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.blog-content h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.blog-content p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 18px;
}

.blog-content ul,
.blog-content ol {
  padding-left: 1.5rem;
  margin: 1rem 0;
  font-size: 16px;
}

.blog-content li {
  margin-bottom: 0.5rem;
}

.blog-content a {
  color: #b10203; /* Tailwind blue-600 */
  text-decoration: none;
}

.blog-content blockquote {
  border-left: 4px solid #d1d5db; /* gray-300 */
  padding-left: 1rem;
  color: #6b7280; /* gray-500 */
  font-style: italic;
  margin: 1rem 0;
}

.blog-content ul {
  list-style-type: disc; /* bullets */
}

.blog-content ol {
  list-style-type: decimal; /* numbers */
}

.blog-popup-cta {
  margin: 30px 0;
}

.popup-btn {
  background: #14469d;
  color: white;
  padding: 14px 26px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}
